<template>
  <div class="flex flex-col gap-2 items-center justify-center bg-success-100">
    <span> You are not connected. </span>
    <span> Please login to continue. </span>
    <a href="https://app.leanrwithparrot.com/auth/signout">Login</a>
  </div>
</template>
